<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head>
  <title><%= title %></title>
</head>
<body>
 <% if (user) { %>
  <a href="/signout">Sign out</a>
<% } else { %>
  <a href="/signup">Sign up</a>
  <a href="/signin">Sign in</a>
  <a href="/oauth/facebook">Sign in with Facebook</a>
  <a href="/oauth/twitter">Sign in with Twitter</a>
  <a href="/oauth/google">Sign in with Google</a>
<% } %>

  <section ng-view></section>

  <script>
    console.log(<%- user %> )
    window.user = <%- user || null %>;
  </script>

  <script type="text/javascript" src="/lib/angular/angular.js"></script>
  <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
  <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

  <script type="text/javascript" src="/example/example.client.module.js"></script>
  <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>
  <script type="text/javascript" src="/example/config/example.client.routes.js"></script>

  <script type="text/javascript" src="/users/users.client.module.js"></script>
  <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>

  <script type="text/javascript" src="/application.js"></script>
</body>
</html>